@page "/crowdcontrol"

@using KH2FMCrowdControl.Data

@inject TwitchService TwitchService
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h1>KH2FM Crowd Control</h1>


