<div class="btn-group" role="group" style="display: inline-table !important;">
    @foreach (TabPage tabPage in Pages)
    {
        <button type="button" class="btn @GetButtonClass(tabPage)" @onclick=@(() => ActivatePage(tabPage))>
            @tabPage.Text
        </button>
    }
</div>

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [CascadingParameter]
    public TabPage ActivePage { get; set; }

    [CascadingParameter]
    public List<TabPage> Pages { get; set; } = new List<TabPage>();

    internal void AddPage(TabPage tabPage)
    {
        Pages.Add(tabPage);

        if (Pages.Count == 1)
            ActivePage = tabPage;

        StateHasChanged();
    }

    string GetButtonClass(TabPage page)
    {
        return page == ActivePage ? "btn-primary" : "btn-secondary";
    }

    void ActivatePage(TabPage page)
    {
        ActivePage = page;
    }
}